/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* amiko-regular - latin */
@font-face {
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/amiko-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/amiko-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* amiko-700 - latin */
@font-face {
    font-family: 'Amiko';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/amiko-v5-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/amiko-v5-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


body{
    font-family: "Amiko", "Arial", sans-serif;
    background-color: burlywood;
}
.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    width: 900px;
    height: 470px;
    background-color: #fff;
}
.header_box{
    width: 350px;
    height: 440px;
    background-color: rgb(65, 61, 61)  ;
}
.header_box{
    padding-top: 30px;
    padding-left: 40px;
}
.header_text{
    color: #fff;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.header_text:hover{
    -webkit-transform: scale(1.12);
        -ms-transform: scale(1.12);
            transform: scale(1.12);
}
.header_chizziq{
    height: 2px;
    width: 60px;
background-color: rgb(163, 12, 7);
-webkit-transition: all 0.6s;
-o-transition: all 0.6s;
transition: all 0.6s;
}
.header_chizziq:hover{
    -webkit-transform: translate(60px);
        -ms-transform: translate(60px);
            transform: translate(60px);
}
.header_open{
    margin-top: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
}
.header_ing{
    border-radius: 50%;
    width: 60px;
    margin-right: 10px;
    -webkit-transition:all 0.8s;
    -o-transition:all 0.8s;
    transition:all 0.8s;
}
.header_ing:hover{
    -webkit-transform: scale(1.4);
        -ms-transform: scale(1.4);
            transform: scale(1.4);
    opacity: 0.5;
    -webkit-box-shadow: 0 0 2px 2px beige;
            box-shadow: 0 0 2px 2px beige;
    border-radius: 10px;
}
.header_isim{
    color:#fff;
    -webkit-transition: all 3.8s;
    -o-transition: all 3.8s;
    transition: all 3.8s;
}
.header_isim:hover{
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);  
}

.section{
    width: 550px;
    padding-top: 30px;
        padding-right: 30px;
}
.section_lorem{
    margin-left: 30px;     
    word-spacing: 8px;
    font-size: 19px;
    line-height: 28px;
    color: rgb(61, 61, 61);
}

.section_footer{
    /* margin-left: ; */
    margin-top: 24px;
    width: 579px;
    height: 68px;
    -webkit-box-shadow: 0 -1px  2px rgb(182, 179, 179);
            box-shadow: 0 -1px  2px rgb(182, 179, 179);
        border: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.section_soat{
    color: rgb(87, 85, 85);
    margin-left: 30px;
    -webkit-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
  
}
.section_soat:hover{
-webkit-transform: scale(1.4);
    -ms-transform: scale(1.4);
        transform: scale(1.4);
}
.vaqt{
    color: rgb(7, 7, 7);
}
.raqam{
    margin-left: 8px;
    margin-right: 8px;
}
.morem{
    margin-right: 30px;
}
.link{
    margin-right: 40px;
}
h4{
color: rgb(92, 92, 92);
}
.comment{
    margin-top: 6px;
    width: 21px;
    -webkit-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
}
.comment:hover{
    -webkit-transform: rotate(720deg);
        -ms-transform: rotate(720deg);
            transform: rotate(720deg);
}







